@import 'normalize.css';

/*HEADER*/
header {
    display: flex;
}

.navegacion {
    background-color: white;
    left: 0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

.navega-link {
    text-decoration: none;
    color: gray;
}

#summit {
    color: #467af4;
}

.banner {
    background-image: url("/images/header-image.jpg");
    filter: brightness(0.7);
    height: 500px;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.span {
    font-size: 30px;
}

#span-1 {
    color: white;
}

#span-2 {
    color: #467af4;
}

/*MAIN*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    text-transform: uppercase;
    color: #467af4;
}

.text {
    margin: 0 50px;
    background-image: url("/images/mountain1.png");
    background-size: cover;
    background-position: center;
}

.activities {
    left: 0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.activities-list {
    display: flex;
    justify-content: space-around;
}